@tailwind base;
@tailwind components;
@tailwind utilities;

/*___________ REUSABLE_STYLES ___________*/
.flex_between {
  @apply flex items-center justify-between;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
